@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --logoSize: 2.5rem;
    --shadowBackground: rgba(0, 0, 0, 0.6);
    --mainTextColor: #f0f8ff;
    --mainLinkColor: #FCAC33;
    --mainLinkSubColor: #F9BF66;
}

.page {
    position: relative;
    min-height: 100vh;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--mainTextColor);
}

body {
    display: flex;
    flex-direction: column;
    background-color: #222;
    background-attachment: fixed;
}

#blazor-error-ui {
    display: none;
}

/*********************
    MainLayout
*/

#header-bar .fab {
    font-size: var(--logoSize);
}
/*#header-bar {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
}*/
main {
    margin-bottom: 50px; /* To prevent the footer from going over the page content (particularly when opening mobile menu) */
}

footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    background-color: var(--shadowBackground);
}

    footer .fab {
        font-size: var(--logoSize);
        padding: 5px;
    }
/*********************
    MainLayout END
*/

/** Helpers **/
.full-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-center {
    display:flex;
    justify-content: center;
}
/** Helpers END **/
