@page "/about"
<section id="about">
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu imperdiet augue. Sed justo odio, scelerisque sit amet mi nec, lacinia consequat mauris. Proin sit amet neque sit amet tellus suscipit vestibulum vitae ac mi. Sed convallis quam at tortor molestie viverra. Fusce tincidunt suscipit finibus. Etiam enim mi, gravida sed diam nec, porttitor cursus tortor. Ut neque massa, consequat eu quam at, lobortis bibendum nisl. Integer luctus, mi et fringilla posuere, neque sapien laoreet nulla, eu sodales quam felis vitae elit.
    </p>
    Nam tempor eget diam sed faucibus. Fusce sagittis libero sed mollis scelerisque. Nam sed molestie sem, ac euismod quam. Etiam interdum non urna a ullamcorper. Morbi sed nunc sodales neque lobortis blandit. Donec id interdum metus. Nulla maximus, massa eu mattis tempor, urna quam consequat dui, non cursus nisl erat vitae quam.
    <p>
        Vestibulum luctus neque sit amet urna auctor hendrerit. Maecenas dictum nulla nec massa malesuada ultrices. Donec tellus enim, consectetur eget placerat a, volutpat convallis nisi. Nam nec malesuada eros. Vestibulum gravida ipsum magna, a feugiat nunc scelerisque ac. Sed fringilla luctus nulla, quis molestie dolor laoreet id. Integer dictum malesuada risus.
    </p>
    <p>
        Aenean euismod metus tempus, vulputate ante at, sollicitudin odio. Nunc accumsan arcu leo, id feugiat arcu ultrices sit amet. Maecenas dignissim a diam at consequat. Nam at molestie mauris, vel interdum massa. Aliquam dapibus ante sed eros elementum, non ornare lorem porta. Sed a pharetra orci. Duis porttitor massa in mollis molestie. In vel mollis ex. Quisque imperdiet elit sit amet tellus accumsan, sed laoreet massa efficitur. Morbi elementum sem in faucibus vulputate. Nullam hendrerit eros nunc, eu dapibus ipsum consequat eget.
    </p>
    <p>
        Aenean non justo feugiat, aliquet tortor sit amet, pellentesque tortor. Donec tincidunt est vitae diam feugiat, imperdiet ullamcorper nulla posuere. Mauris ut augue vitae tellus rhoncus facilisis. Sed in elit maximus, tincidunt diam nec, cursus est. Aliquam interdum tempus dignissim. Nullam vel velit iaculis, porta odio quis, ornare sem. Proin a eros metus. Pellentesque efficitur nibh sit amet neque pulvinar tincidunt. Nunc id feugiat elit, a interdum diam. Pellentesque gravida cursus eros, id tristique ipsum maximus porttitor. Proin vestibulum risus elit, ac elementum tellus mollis ac. Aliquam ut condimentum lorem, sed dignissim arcu. Maecenas sit amet dapibus lorem.
    </p>
</section>
