@page "/education"

<section id="education">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <h1>Education</h1>
            [Insert EDUCATION here]
        </div>
        <div class="col-md-2">

        </div>
    </div>
</section>