@page "/"

<div class="row">
    <section id="welcome-message-container" class="col-12 full-centering">
        <div class="">
            <h1>My name is Thomas Bækgaard Andersen</h1>
            <p>
                I'm a <span class="font-weight-bold">Full-Stack Web Developer</span> with a focus on
                <span class="font-weight-bold">C# .NET</span>. I can create modern, responsive designs for
                <span class="font-weight-bold">Web</span>, in addition to backend development with Restful API's.
            </p>
        </div>
    </section>
</div>

<style>
    #welcome-message-container {
        min-height: 75vh;
        width: 5rem;
    }
</style>