@page "/work-experience"

<section id="work-experience">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <h1>Work Experience</h1>
            [Insert Work Experiences]
        </div>
        <div class="col-md-2">

        </div>
    </div>
</section>