<section class="container-fluid p-5" id="header-bar">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
            <a href="https://www.facebook.com/noitcereon/" class="px-5"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/thomasandersen1998/" class="px-5"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img src="#" alt="image-of-thomas"/>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a href="https://github.com/Noitcereon?tab=repositories" class="px-5" aria-label="Github icon"><i class="fab fa-github"></i></a>
            <a href="https://discord.gg/BFzDhJMuU3" class="px-5"><i class="fab fa-discord"></i></a>
        </div>
    </div>
</section>