@inherits LayoutComponentBase
@layout CoreLayout


<section class="core-layout">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            @Body
        </div>
        <div class="col-md-2">

        </div>
    </div>
</section>